<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <a ng-href="#/promiseinview">Example - Using Promises in AngularJS Views</a>
  <p>
    Find out how AngularJS allows promises to be used directly inside views.
  </p>
  <a ng-href="#/openpullrequests">Example - Find open pull requests</a>
  <p>
    This example hilights how to use promise for finding open pull requests of AngularJS repository
  </p>
   <a ng-href="#/fastfood">Example - Fast Food</a>
  <p>
    Pizza order-delivery system
  </p>
  <a ng-href="#/article">Example - Find Author Details</a>
  <p>
    Find author details on the basis of article id
  </p>
  <a ng-href="#/flightdashborad">Example - Find Flight Details</a>
  <p>
    Find your fligh details on the basis of your email id
  </p>
   <a ng-href="#/promiselimitation">Example - Goodbye</a>
  <p>
    Find out the limitation in Promise
  </p>
</div>
